In [1]:
import pandas as pd
import numpy as np

# Task - 1

In [4]:
data = np.random.rand(4,4)
data

array([[0.32996192, 0.58845221, 0.73221172, 0.24089678],
       [0.65487141, 0.07269124, 0.32368385, 0.71740892],
       [0.10849128, 0.77860064, 0.21142337, 0.26299957],
       [0.81228526, 0.92259738, 0.75273129, 0.69682328]])

# Task - 2

In [5]:
df = pd.DataFrame(data, columns=['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'])
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.329962        0.588452        0.732212        0.240897
1        0.654871        0.072691        0.323684        0.717409
2        0.108491        0.778601        0.211423        0.263000
3        0.812285        0.922597        0.752731        0.696823

# Task - 3

In [6]:
ds = df.describe()
ds

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.476402        0.590585        0.505013        0.479532
std          0.317003        0.371394        0.278124        0.263080
min          0.108491        0.072691        0.211423        0.240897
25%          0.274594        0.459512        0.295619        0.257474
50%          0.492417        0.683526        0.527948        0.479911
75%          0.694225        0.814600        0.737342        0.701970
max          0.812285        0.922597        0.752731        0.717409

# Task - 4

In [8]:
null = df.isnull().sum()
print(null)
dt = df.dtypes
dt

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

# Task - 5

In [9]:
value_2 = df['Random value 2']
value_3 = df['Random value 3']
print(value_2)
print(value_3)

0    0.588452
1    0.072691
2    0.778601
3    0.922597
Name: Random value 2, dtype: float64
0    0.732212
1    0.323684
2    0.211423
3    0.752731
Name: Random value 3, dtype: float64

In [10]:
value_2 = df.iloc[:,1]
value_3 = df.iloc[:,2]
print(value_2)
print(value_3)

0    0.588452
1    0.072691
2    0.778601
3    0.922597
Name: Random value 2, dtype: float64
0    0.732212
1    0.323684
2    0.211423
3    0.752731
Name: Random value 3, dtype: float64